html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

#map {
  height: 100%;
  width: 100%;
}

#control_panel {
  z-index: 1000;
  position: absolute;
  top: 10px;
  left: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#spot_info {
  z-index: 1000;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

#aux_info {
  position: absolute;
  bottom: 50px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 5px;
  border-radius: 3px;
  z-index: 1000;
  display: none;
}

#form_line1 {
  display: inline-flex;
  gap: 4px; padding: 2px 0px;
}

#form_line2 {
  display: inline-flex;
  gap: 4px; padding: 2px 0px;
  align-items: center;
}

#synopsis {
  display: block;
}

#update_countdown {
  color: #ffc;
  display: block;
}

#synopsis:not(:empty), #update_countdown:not(:empty) {
  margin-top: 5px;
}

.plain_link {
  color: white;
  text-decoration: none;
}

#show_data_button, #close_data_button {
  cursor: pointer;
  z-index: 1000;
  display: none;
}

#show_data_button {
  text-shadow: 
    -1px -1px 0 #888,
     1px -1px 0 #888,
    -1px  1px 0 #888,
     1px  1px 0 #888;
  position: absolute;
  font-size: 26px;
  top: 90px;
  left: 11px;
}

#close_data_button {
  position: fixed;
  font-size: 20px;
  top: 16px;
  left: 16px;
  border: 3px solid #e8e8e8;
}

#data_view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0px;
  display: none;
  overflow-y: auto;
  background-color: #e8e8e8;
  padding: 0.1px;  /* rendering bug */
}

#data_view_wrapper {
  padding: 14px;
  display: inline-block;
}

table.data_table {
  margin: 0px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: none;
  overflow-y: auto;
}

.data_table tr {
  background-color: white;
}

.data_table td {
  padding: 3px 5px;
  text-align: right;
  color: #333333;
  border: 1px solid #e0e0e0;
  white-space: nowrap;
}

.data_table th {
  padding: 5px;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #999;
  color: white;
  white-space: pre;
  border-bottom: 1px solid #555;
  border-right: 1px solid #555;
  border-top: 1px solid #555;
}

.data_table th:first-child {
  border-left: 1px solid #555;
}

td.wspr_cell {
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
  padding: 10px;
  white-space: pre;
  background-color: #f8f8f8;
}

.data_view_button {
   margin: 20px 10px 20px 0px;
   padding: 5px 10px;
   font-size: 14px;
   cursor: pointer;
   background-color: #7777cc;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.data_view_button:hover {
  background-color: #5555aa;
}

.uplot {
  display: inline-block;
  background-color: white;
  border: 1px solid #aaa;
  margin: 20px 20px 0px 0px;
  padding: 0px 10px;
  touch-action: auto;
}

.notice {
  background-color: #ffffdd;
  border: 1px solid #bbb;
  padding: 4px;
  border-radius: 4px;
  display: table;
  clear: both;
}

#go_button {
  height: 20px;
  background-color: #7777cc;
  color: white;
  border: 1px solid #fff;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}

#go_button:disabled {
  background-color: #888;
  color: #ddd;
  cursor: not-allowed;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.leaflet-tooltip {
  font-size: 13px;
}

.spinner {
  width: 7px;
  height: 7px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
