html, body {
  margin: 0;
  background-color: #f8f8f8;
  height: 100%;
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  margin: 0;
  color: #555;
  font-size: 25px;
}

#wrapper {
  padding: 20px;
  display: inline-block;
}

.pretty_button {
   margin: 5px 10px 5px 0;
   padding: 5px 10px;
   font-size: 14px;
   cursor: pointer;
   background-color: #7777cc;
   color: white;
   border: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.pretty_button:hover {
  background-color: #5555aa;
}

select {
  margin: 5px 10px 5px 0;
}

input {
  margin: 5px 0;
}

.box {
  border: 1px solid #777;
  border-radius: 10px;
  padding: 10px;
  margin: 15px 0;
  min-width: 500px;
}

.error {
  background-color: #fcc;
}

h2, h3 {
  margin: 5px 0;
}

a {
  display: inline-block;
  max-width: 1000px;
  word-break: break-all;
  overflow-wrap: anywhere;
}
